* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    

}
body {
   background: radial-gradient(circle farthest-side at 50% 100%,#fff 0,rgba(0,0,0,.7) 100%) fixed #0573c8;
  background-blend-mode: multiply;
  color: white;
  font-family: Arial, sans-serif;   
  
  /*background-image: url("/bg.jpg");*/
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;


  
}
.container {
  width: 90vw;
  height: 90vh;
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(1px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
}
.loading {
  padding: 50px;
  font-size: 36px;
  border-radius: 10px;
  background-color: rgba(17, 25, 40, 0.9);
}













/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(17, 25, 40, 0.128);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color:rgba(17, 25, 40, 0.8);
  cursor:ns-resize;
}